In [15]:
from bs4 import BeautifulSoup
import requests

In [17]:
url="https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue"

In [19]:
page = requests.get(url)

In [21]:
soup=BeautifulSoup(page.text, "html")

In [32]:
table=soup.find('table')

In [48]:
table_titles=table.find_all("th")

In [50]:
table_titles

[<th>Rank
 </th>,
 <th>Name
 </th>,
 <th>Industry
 </th>,
 <th>Revenue <br/>(USD millions)
 </th>,
 <th>Revenue growth
 </th>,
 <th>Employees
 </th>,
 <th>Headquarters
 </th>]

In [52]:
titles=[title.text.strip() for title in table_titles]

print(titles)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [54]:
import pandas as pd

In [56]:
df = pd.DataFrame(columns= titles)

df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [62]:
column_data= table.find_all("tr")

In [78]:
for row in column_data[1:]:
    row_data=row.find_all("td")
    individual_row_data=[data.text.strip() for data in row_data]
   
    length=len(df)
    df.loc[length]= individual_row_data

In [80]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"648,125",6.0%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"574,785",11.9%,"1,525,000","Seattle, Washington"
2,3,Apple,Electronics industry,"383,482",-2.8%,"161,000","Cupertino, California"
3,4,UnitedHealth Group,Healthcare,"371,622",14.6%,"440,000","Minnetonka, Minnesota"
4,5,Berkshire Hathaway,Conglomerate,"364,482",20.7%,"396,500","Omaha, Nebraska"
...,...,...,...,...,...,...,...
195,96,TIAA,Financials,"45,735",11.8%,"16,023","New York City, New York"
196,97,CHS,Agriculture cooperative,"45,590",-4.6%,"10,609","Inver Grove Heights, Minnesota"
197,98,Bristol-Myers Squibb,Pharmaceutical industry,"45,006",-2.5%,"34,100","New York City, New York"
198,99,Dow Chemical Company,Chemical industry,"44,622",-21.6%,"35,900","Midland, Michigan"
199,100,Best Buy,Retail,"43,452",-6.1%,"85,000","Richfield, Minnesota"

In [84]:
df.to_csv(r"D:/files/companies.csv", index= False)